[submodule "vendor/zf_log"]
	path = vendor/zf_log
	url = https://github.com/wonder-mice/zf_log.git
[submodule "vendor/glog"]
	path = vendor/glog
	url = https://github.com/google/glog.git
[submodule "vendor/easyloggingpp"]
	path = vendor/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "vendor/g3log"]
	path = vendor/g3log
	url = https://github.com/KjellKod/g3log.git
