version: 1.0.{build}
image: Visual Studio 2015
environment:
  matrix:
  - GENERATOR: '"MinGW Makefiles"'
    BUILD_TYPE: Debug
  - GENERATOR: '"MinGW Makefiles"'
    BUILD_TYPE: Release
  - GENERATOR: '"Visual Studio 14 2015"'
    BUILD_TYPE: Debug
  - GENERATOR: '"Visual Studio 14 2015"'
    BUILD_TYPE: Release
  - GENERATOR: '"Visual Studio 14 2015 Win64"'
    BUILD_TYPE: Debug
  - GENERATOR: '"Visual Studio 14 2015 Win64"'
    BUILD_TYPE: Release
build_script:
- cmd: >-
    set

    mkdir build

    cd build

    set PATH=%PATH:C:\Program Files\Git\usr\bin;=%

    set PATH=C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0\mingw32\bin;%PATH%

    cmake .. -G %GENERATOR% -DCMAKE_BUILD_TYPE=%BUILD_TYPE% -DSPDLOG_BUILD_EXAMPLE=ON -DSPDLOG_BUILD_EXAMPLE_HO=ON -DSPDLOG_BUILD_TESTS=ON -DSPDLOG_BUILD_TESTS_HO=OFF

    cmake --build . --config %BUILD_TYPE%

test_script:
- ctest -VV -C "%BUILD_TYPE%"
